<?xml version="1.0"?>
<!--
/**
 * Copyright 2018 Vipps
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 * documentation files (the "Software"), to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
 * and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
 * TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Vipps\Payment\Model\TokenProviderInterface"
                type="Vipps\Payment\Model\TokenProvider"/>
    <preference for="Vipps\Payment\Api\CommandManagerInterface"
                type="Vipps\Payment\Gateway\Command\CommandManager" />

    <preference for="Vipps\Payment\Api\Profiling\Data\ItemSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Vipps\Payment\Api\Profiling\Data\ItemInterface"
                type="Vipps\Payment\Model\Profiling\Item" />
    <preference for="Vipps\Payment\Api\Profiling\ItemRepositoryInterface"
                type="Vipps\Payment\Model\Profiling\ItemRepository" />

    <preference for="Vipps\Payment\Model\Profiling\ProfilerInterface"
                type="Vipps\Payment\Model\Profiling\Profiler" />

    <type name="Vipps\Payment\Model\TokenProvider">
        <arguments>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
            <argument name="logger" xsi:type="object">Vipps\Payment\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Model\UrlResolver">
        <arguments>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Model\OrderPlace">
        <arguments>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Gateway\Http\Client\Curl">
        <arguments>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
            <argument name="logger" xsi:type="object">Vipps\Payment\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Gateway\Request\MerchantDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>
    <type name="Vipps\Payment\Gateway\Request\Initiate\MerchantDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <virtualType name="VippsFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">vipps</argument>
            <argument name="formBlockType" xsi:type="string">Vipps\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Vipps\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">VippsValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">VippsValidatorPool</argument>
            <argument name="commandExecutor" xsi:type="object">BuiltInCommandManager</argument>
        </arguments>
    </virtualType>

    <type name="Vipps\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandManager" xsi:type="object">BuiltInCommandManager</argument>
        </arguments>
    </type>

    <virtualType name="BuiltInCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">VippsCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="VippsValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">VippsConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="VippsConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="VippsCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initiate" xsi:type="string">VippsInitiateCommand</item>
                <item name="getOrderStatus" xsi:type="string">VippsGetOrderStatusCommand</item>
                <item name="capture" xsi:type="string">VippsCaptureCommand</item>
                <item name="refund" xsi:type="string">VippsRefundCommand</item>
                <item name="getPaymentDetails" xsi:type="string">VippsGetPaymentDetailsCommand</item>
                <item name="cancel" xsi:type="string">VippsCancelCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Vipps Initiate command declaration -->
    <virtualType name="VippsInitiateCommand" type="Vipps\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">VippsInitiateRequest</argument>
            <argument name="transferFactory" xsi:type="object">VippsInitiateTransferFactory</argument>
            <argument name="client" xsi:type="object">Vipps\Payment\Gateway\Http\Client\Curl</argument>
            <argument name="handler" xsi:type="object">Vipps\Payment\Gateway\Response\InitiateHandler</argument>
            <argument name="validator" xsi:type="object">VippsInitiateValidator</argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsInitiateTransferFactory" type="Vipps\Payment\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="method" xsi:type="string">POST</argument>
            <argument name="endpointUrl" xsi:type="string">/ecomm/v2/payments</argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsInitiateRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customerInfo" xsi:type="string">Vipps\Payment\Gateway\Request\Initiate\CustomerDataBuilder</item>
                <item name="merchantInfo" xsi:type="string">Vipps\Payment\Gateway\Request\Initiate\MerchantDataBuilder</item>
                <item name="merchantSerialNumber" xsi:type="string">Vipps\Payment\Gateway\Request\MerchantDataBuilder</item>
                <item name="transaction" xsi:type="string">Vipps\Payment\Gateway\Request\Initiate\TransactionDataBuilder</item>
                <item name="transactionText" xsi:type="string">Vipps\Payment\Gateway\Request\TransactionTextDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Vipps Capture command declaration -->
    <virtualType name="VippsCaptureCommand" type="Vipps\Payment\Gateway\Command\CaptureCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">VippsCaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">VippsCaptureTransferFactory</argument>
            <argument name="client" xsi:type="object">Vipps\Payment\Gateway\Http\Client\Curl</argument>
            <argument name="handler" xsi:type="object">Vipps\Payment\Gateway\Response\TransactionHandler</argument>
            <argument name="validator" xsi:type="object">VippsCaptureValidator</argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsCaptureTransferFactory" type="Vipps\Payment\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="method" xsi:type="string">POST</argument>
            <argument name="endpointUrl" xsi:type="string">/ecomm/v2/payments/:orderId/capture</argument>
            <argument name="urlParams" xsi:type="array">
                <item name="orderId" xsi:type="string">orderId</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="generic" xsi:type="string">Vipps\Payment\Gateway\Request\GenericDataBuilder</item>
                <item name="merchantInfo" xsi:type="string">Vipps\Payment\Gateway\Request\MerchantDataBuilder</item>
                <item name="transaction" xsi:type="string">Vipps\Payment\Gateway\Request\TransactionDataBuilder</item>
                <item name="transactionText" xsi:type="string">Vipps\Payment\Gateway\Request\TransactionTextDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Vipps Refund command declaration -->
    <virtualType name="VippsRefundCommand" type="Vipps\Payment\Gateway\Command\RefundCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">VippsRefundRequest</argument>
            <argument name="transferFactory" xsi:type="object">VippsRefundTransferFactory</argument>
            <argument name="client" xsi:type="object">Vipps\Payment\Gateway\Http\Client\Curl</argument>
            <argument name="handler" xsi:type="object">Vipps\Payment\Gateway\Response\TransactionHandler</argument>
            <argument name="validator" xsi:type="object">VippsRefundValidator</argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsRefundTransferFactory" type="Vipps\Payment\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="method" xsi:type="string">POST</argument>
            <argument name="endpointUrl" xsi:type="string">/ecomm/v2/payments/:orderId/refund</argument>
            <argument name="urlParams" xsi:type="array">
                <item name="orderId" xsi:type="string">orderId</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsRefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="generic" xsi:type="string">Vipps\Payment\Gateway\Request\GenericDataBuilder</item>
                <item name="merchantInfo" xsi:type="string">Vipps\Payment\Gateway\Request\MerchantDataBuilder</item>
                <item name="transaction" xsi:type="string">Vipps\Payment\Gateway\Request\TransactionDataBuilder</item>
                <item name="transactionText" xsi:type="string">Vipps\Payment\Gateway\Request\TransactionTextDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Vipps Get Order Status command declaration -->
    <virtualType name="VippsGetOrderStatusCommand" type="Vipps\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">VippsGetOrderStatusRequest</argument>
            <argument name="transferFactory" xsi:type="object">VippsGetOrderStatusTransportFactory</argument>
            <argument name="client" xsi:type="object">Vipps\Payment\Gateway\Http\Client\Curl</argument>
            <argument name="validator" xsi:type="object">VippsGetOrderStatusValidator</argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsGetOrderStatusRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="generic" xsi:type="string">Vipps\Payment\Gateway\Request\GenericDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsGetOrderStatusTransportFactory" type="Vipps\Payment\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="method" xsi:type="string">GET</argument>
            <argument name="endpointUrl" xsi:type="string">/ecomm/v2/payments/:orderId/status</argument>
            <argument name="urlParams" xsi:type="array">
                <item name="orderId" xsi:type="string">orderId</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Vipps Get Payment Details command declaration -->
    <virtualType name="VippsGetPaymentDetailsCommand" type="Vipps\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">VippsGetPaymentDetailsRequest</argument>
            <argument name="transferFactory" xsi:type="object">VippsGetPaymentDetailsTransportFactory</argument>
            <argument name="client" xsi:type="object">Vipps\Payment\Gateway\Http\Client\Curl</argument>
            <argument name="validator" xsi:type="object">VippsGetPaymentDetailsValidator</argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsGetPaymentDetailsRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="generic" xsi:type="string">Vipps\Payment\Gateway\Request\GenericDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsGetPaymentDetailsTransportFactory" type="Vipps\Payment\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="method" xsi:type="string">GET</argument>
            <argument name="endpointUrl" xsi:type="string">/ecomm/v2/payments/:orderId/details</argument>
            <argument name="urlParams" xsi:type="array">
                <item name="orderId" xsi:type="string">orderId</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Vipps Cancel command declaration -->
    <virtualType name="VippsCancelCommand" type="Vipps\Payment\Gateway\Command\CancelCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">VippsCancelRequest</argument>
            <argument name="transferFactory" xsi:type="object">VippsCancelTransferFactory</argument>
            <argument name="client" xsi:type="object">Vipps\Payment\Gateway\Http\Client\Curl</argument>
            <argument name="handler" xsi:type="object">Vipps\Payment\Gateway\Response\TransactionHandler</argument>
            <argument name="validator" xsi:type="object">VippsCancelValidator</argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsCancelTransferFactory" type="Vipps\Payment\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="method" xsi:type="string">PUT</argument>
            <argument name="endpointUrl" xsi:type="string">/ecomm/v2/payments/:orderId/cancel</argument>
            <argument name="urlParams" xsi:type="array">
                <item name="orderId" xsi:type="string">orderId</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsCancelRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="generic" xsi:type="string">Vipps\Payment\Gateway\Request\GenericDataBuilder</item>
                <item name="merchantInfo" xsi:type="string">Vipps\Payment\Gateway\Request\MerchantDataBuilder</item>
                <item name="transaction" xsi:type="string">Vipps\Payment\Gateway\Request\TransactionDataBuilder</item>
                <item name="transactionText" xsi:type="string">Vipps\Payment\Gateway\Request\TransactionTextDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- validators declaration -->
    <virtualType name="VippsValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="initiate" xsi:type="string">Vipps\Payment\Gateway\Validator\InitiateValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsInitiateValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="order" xsi:type="string">Vipps\Payment\Gateway\Validator\OrderValidator</item>
                <item name="initiate" xsi:type="string">Vipps\Payment\Gateway\Validator\InitiateValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsCaptureValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="order" xsi:type="string">Vipps\Payment\Gateway\Validator\OrderValidator</item>
                <item name="transaction" xsi:type="string">Vipps\Payment\Gateway\Validator\CaptureTransactionValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsRefundValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="order" xsi:type="string">Vipps\Payment\Gateway\Validator\OrderValidator</item>
                <item name="transaction" xsi:type="string">Vipps\Payment\Gateway\Validator\RefundTransactionValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsGetOrderStatusValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="order" xsi:type="string">Vipps\Payment\Gateway\Validator\OrderValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsGetPaymentDetailsValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="order" xsi:type="string">Vipps\Payment\Gateway\Validator\OrderValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VippsCancelValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="order" xsi:type="string">Vipps\Payment\Gateway\Validator\OrderValidator</item>
                <item name="transaction" xsi:type="string">Vipps\Payment\Gateway\Validator\CancelTransactionValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Defining Vipps logger object to process logs into vipps files -->
    <virtualType name="Vipps\Payment\Model\Logger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">vipps</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="error" xsi:type="object">Vipps\Payment\Model\Logger\Handler\Error</item>
                <item name="debug" xsi:type="object">Vipps\Payment\Model\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Passing Vipps Config to log data when debug mode is enabled -->
    <type name="Vipps\Payment\Model\Logger\Handler\Debug">
        <arguments>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="logger" xsi:type="object">Vipps\Payment\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Model\Helper\OrderPlace">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vipps_profiling_data_source" xsi:type="string">Vipps\Payment\Model\ResourceModel\Profiling\Item\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vipps_monitoring_data_source" xsi:type="string">Vipps\Payment\Model\ResourceModel\Quote\GridCollection</item>
            </argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Cron\FetchOrderFromVipps">
        <arguments>
            <argument name="logger" xsi:type="object">Vipps\Payment\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Gateway\Response\InitiateHandler">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
