<?xml version="1.0"?>
<!--
  ~ Copyright 2020 Vipps
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
  ~ documentation files (the "Software"), to deal in the Software without restriction, including without limitation
  ~ the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
  ~ and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
  ~ TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT. IN NO EVENT SHALL
  ~ THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
  ~ CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  ~ IN THE SOFTWARE.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="vipps_checkout_config_provider"
                      xsi:type="object">Vipps\Payment\Model\Checkout\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Controller\Payment\InitRegular">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="logger" xsi:type="object">Vipps\Payment\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Vipps\Payment\Controller\Payment\Klarna\InitRegular">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="logger" xsi:type="object">Vipps\Payment\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Controller\Payment\InitExpress">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="logger" xsi:type="object">Vipps\Payment\Model\Logger</argument>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Controller\Payment\ShippingDetails">
        <arguments>
            <argument name="logger" xsi:type="object">Vipps\Payment\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Controller\Payment\Callback">
        <arguments>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
            <argument name="logger" xsi:type="object">Vipps\Payment\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Controller\Payment\Fallback">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="logger" xsi:type="object">Vipps\Payment\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Block\Express\Button">
        <arguments>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Observer\AddVippsShortcutsObserver">
        <arguments>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <!-- Disabling email Sent when Order Is Placed in Frontend -->
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="disable_send_email" type="Vipps\Payment\Plugin\Sales\OrderManagement\AfterPlaceOrder"/>
    </type>
    <type name="Vipps\Payment\Controller\Payment\Fallback">
        <arguments>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>
</config>
