<?xml version="1.0"?>
<!--
/**
 * Copyright Vipps
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 * documentation files (the "Software"), to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
 * and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
 * TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="vipps_tax" xsi:type="string">Vipps\Payment\Model\System\Message\Notification\ExpressCheckout\TaxConfigurationError</item>
            </argument>
        </arguments>
    </type>

    <type name="Vipps\Payment\Model\System\Message\Notification\ExpressCheckout\TaxConfigurationError">
        <arguments>
            <argument name="paymentConfig" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <type name="Magento\Config\Model\Config">
        <plugin name="admin_system_config_save_plugin" type="Vipps\Payment\Plugin\Config\Model\Config" sortOrder="10"/>
    </type>

    <type name="Vipps\Payment\Plugin\Config\Model\Config">
        <arguments>
            <argument name="config" xsi:type="object">Vipps\Payment\Gateway\Config\Config</argument>
            <argument name="logger" xsi:type="object">Vipps\Payment\Model\Logger</argument>
        </arguments>
    </type>
</config>
