/**
* Copyright 2018 Vipps
*
* Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
* documentation files (the "Software"), to deal in the Software without restriction, including without limitation
* the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
* and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
* TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT. IN NO EVENT SHALL
* THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
* CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
* IN THE SOFTWARE.
*/

.block-minicart .block-content > .actions .vipps-express-checkout, .actions .vipps-express-checkout1 {
    margin-top: 15px;
    text-align: center;
}

#product_addtocart_form .box-tocart .actions .vipps-express-checkout {
    display: inline-block;
}

.vipps-express-checkout svg {
    max-width: 100%;
    vertical-align: top;
    filter: drop-shadow( 0px 1px 2px #d7d7d7);
}

.vipps-express-checkout:hover svg {
    opacity: 0.9;
}

.vipps-express-checkout:hover svg {
    opacity: 0.9;
}

.vipps-express-checkout {
    max-width: 100%;
    vertical-align: top;
    cursor: pointer;
    background-color: inherit;
    filter: drop-shadow( 0px 1px 2px #d7d7d7);
}